:root{
    --cor-preta: black; 
    --cor-branca: white;
    --cor-marrom: #969696;
    --cor-laranja: #FF8A00;

}

*{
    margin: 0;
    padding: 0;
}

#header {
        height: 100px;
        background-color: var(--cor-preta);
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .jerusalem{
        width: 200px;
        height: 88px;
        margin-left: 44px;
    }
    
    #header nav{
        background-color: var(--cor-branca);
        border:solid 1px;
        border-radius:15px;
        width:300px;
        margin-right: 44px;
    }
    #buscador{
        float:left;
        background-color:transparent;
        padding-left:5px;
        font-style:'roboto';
        font-size:18px;
        outline: unset;
        border:none;
        height:32px;
        width:260px;
    }

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--cor-marrom);
    height: 120px;
    font-family: 'Inter', sans-serif;
    color: var(--cor-branca);
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 121px;
}

main{
    text-align: center;
    background-color:var(--cor-laranja);
    
}

#div1{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
    padding: 40px;
}

img{
    border-radius: 50px;
}
.preço{
    font-size: 25px;
    padding: 5px;
}

footer{
    background-color: var(--cor-marrom);
    text-align: center;
}




