:root{
    --cor-preta: black; 
    --cor-branca: white;
    --cor-marrom: #969696;
    --cor-laranja: #FF8A00;

}

*{
    padding: 0;
    margin: 0;
    transition: all 0.5s;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
/* --------------------------------header------------------------------------------------ */
#header {
    height: 100px;
    width: 100%;
    background-color: var(--cor-preta);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.jerusalem{
    width: 200px;
    height: 88px;
    margin-left: 44px;
}

#header nav{
    background-color: var(--cor-branca);
    border:solid 1px;
    border-radius:15px;
    width:300px;
    margin-right: 44px;
}
#buscador{
    float:left;
    background-color:transparent;
    padding-left:5px;
    font-style:'roboto';
    font-size:18px;
    outline: unset;
    border:none;
    height:32px;
    width:260px;
}
/* -----------------------------main------------------ */
.quem-txt {
    background-color: var(--cor-marrom);
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quem-txt h1{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 121px;
    color: var(--cor-branca);
}

/* ---------------conteúdo princiapl---------------------- */
.quem-hist{
    background-color: var(--cor-laranja);
    display: flex;
    justify-content: space-evenly;
}
.quem-hist-txt p{
    width: 700px;
    color: var(--cor-branca);
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    margin-top: 30px;
}

.quem-hist-img img{
    margin: 30px 0px;
}
/* --------------------------footer------------------------ */
.quem-foo {
    background-color: var(--cor-marrom);
    width: 100%;
}

.foo-txt {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    margin-left: 30px;

}

.foo-img {
    text-align: center;
}

.foo-img img{
    width: 300px;
}
