:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-orange: #FF8A00;
    --color-offwhite: #FFEBD9;
    --color-gray: #969696;
    --color-oranget: #FFA945;
    --color-lightgray: #d9d9d9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    transition: 0.7s;
    font-family: 'Secular One';
  }
  
  .marginlateral{
    margin: 0px 15px;
  }
  
  .icom{
    margin: 0 10px;
  }
  
  .espaco{
    margin: 0 55px;
  }
  
  .footer{
    margin: 0 200px;
  }
  
  .d{
    padding-top: 200px;
  }
  
  #hdr{
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
  }
  
  #hdr #logo{
    text-align: center;
  }
  
  #hdrtext{
    background-color: var(--color-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  #hdrtext nav a{
    font-style: normal;
    text-decoration: none;
    color:var(--color-white);
  }
  #hdrtext nav a:hover{
    background-color: var(--color-orange);
    padding: 7px;
    color: var(--color-white);
    border-radius: 20px;
  }
  
  main #banner{
    background-image: url(../img/banner.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  
  .wrapper .search_box {
    width: 175px;
    background: #fff;
    border-radius: 15px;
    height: 40px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .search_field {
    width: 350px;
    height: 100%;
    position: relative;
  }
  
  .wrapper .search_box .search_field .input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
  }
  
  .wrapper .search_box .search_field .fas {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 22px;
    color: var(--color-orange);
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder {
    color: #9fa3b1;
  }
  
  main #benefects{
    background-color: var(--color-offwhite);
  } 
  
  main #benefects #benefectsimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--cor-principal);
    padding-bottom: 15px;
  }
  
  main #lanca{
    background-color: var(--color-orange);
  }
  
  main #lanca #lancatext{
    text-align: center;
  }
  
  main #lanca #lancatext h3{
    color: var(--color-white);
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 2em;
  }
  
  main #lanca #lancaimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--color-white);
    padding-bottom: 15px;
  }
  
  main #bannersecond{
    background-image: url(../img/descartes.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
  }
  
  main #destaques{
    background-color: var(--color-orange);
  }
  
  main #destaques #destaquestext{
    text-align: center;
  }
  
  main #destaques #destaquestext h3{
    color: var(--color-white);
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 2em;
  }
  
  main #destaques #destaquesimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--color-white);
    padding-bottom: 15px;
  }
  
  main #sugestoes{
    background-color: var(--color-offwhite);
  }
  
  main #sugestoes #sugestoestext{
    padding-top: 21px;
    font-size: larger;
    text-align: center;
    padding-bottom: 94px;
  }
  
  main #sugestoes #sugestoesimg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 96.18px;
  }

  main #sugestoes #sugestoesimg #x {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #sugestoes #sugestoesimg #y {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #sugestoes #sgt1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-lightgray);
    width: 485px;
    height: 230px;
  }

  main #sugestoes #sgt1 #i{
    margin-top: 18px;
    margin-left: 21px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    }

    main #sugestoes #sgt2 #s{
      margin-top: 18px;
      margin-left: 21px;
      background-color: white;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      }


  main #sugestoes #sgt2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-lightgray);
    width: 485px;
    height: 230px;
  }

  main #sugestoes #ç{
    padding-top: 45px;
  }

  main #sugestoes #g{
    padding-top: 45px;
  }

  main #sugestoes #sugestoesimg #z{
    padding-top: 25px;
    padding-left: 15px;
  }

  main #sugestoes #sugestoesimg #k{
    padding-top: 25px;
    padding-left: 15px;
  }
  
  footer{
    background-color: var(--color-gray);
  }
  
  footer #cl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer #logoimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  footer #contact{
    text-align: center;
    justify-content: center;
  }
  
  footer #contact h2{
    padding-top: 12.5%;
  }
  
  footer #cl{
    text-align: center;
    justify-content: center;
  }
  
  footer #midias{
    text-align: center;
    justify-content: center;
  }
  
  footer #midias h2{
    padding-top: 12.5%;
  }

  /* ------------------------------------cadastro--------------------------------------- */
#cad {
    width: 100%;
    height: 100vh;
}

#chk {
    display: none;
}

#cad nav {
  display: flex;
  justify-content: flex-end;
}

#cad a {
  text-decoration: none;
  color: var(--color-orange);
  margin-top: 10px;
  margin-right: 30px;

}

#cad a:hover{
  border-radius: 20px;
  background-color: var(--color-orange);
  color: var(--color-white);
  padding: 0 5px;
}

.imp input  {
    width: 697px;
    height: 20px;
    background: var(--color-offwhite);
    justify-content: left;
    display: flex;
    margin: 52px auto;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 5px;
}

.imp label {
    font-family: 'Secular One';
    font-style: normal;
}

.signup label {
    color: var(--color-orange); 
    font-size: 2.3em;
    justify-content: center;
    display: flex;
    margin: 60px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.login label {
    color: var(--color-white);
    padding: 10px 50px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    border: 3px solid #FFFFFF;
    border-radius: 39px;
    font-size: 30px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

.signup form {
    margin-right: 200px;
    transition: 0.5s ease-in-out;
}

 .signup button, .login button {
    width: 60%;
    height: 40px;
    margin: 10px auto;
    justify-content: center;
    display: block;
    color: #fff;
    background-color: var(--color-orange);
    font-size: 1em;
    font-weight: bold;
    margin-top: 20px;
    outline: none;
    border: none;
    border-radius: 5px;
    transition: 0.2s ease-in;
    cursor: pointer;
}

.signup button:hover {
    background: var(--color-white);
    color: var(--color-orange);
    border: 1px solid var(--color-orange);
}

.login button {
    background-color: var(--color-offwhite);
    color: var(--color-orange);
    align-items: center;
    transition: 0.5s ease-in-out;
}

.login button:hover {
    background-color: var(--color-orange);
    color: var(--color-white);
    border: 1px solid var(--color-white);
}

.signup {
    background-color: var(--color-white);
    width: 100%;
    height: calc(100vh - 33px);
    display: flex;
    justify-content: right;
    align-items: center;
    transition: 0.5s ease-in-out;
}

.login input,
.login button {
    display: none;
    transition: 0.5s ease-in-out;
}

.login form {
    transition: 0.5s ease-in-out;
}

.login {
    background-color: var(--color-orange);
    position: absolute;
    width: 70%;
    min-height: 100vh;
    left: 0px;
    top: 0px;

    display: flex;
    align-items: center;
    justify-content: right;
    transform: translateX(-70%);
    transition: 0.8s ease-in-out;
}

#chk:checked~.login {
    transform: translateX(0%);
    justify-content: center;
    transition: 0.8s ease-in-out;
}

#chk:checked~.login input {
    display: flex;
    transition: 2s ease-in-out;
}

#chk:checked~.login button {
    display: flex;
}

#chk:checked~.login label {
    color: var(--color-white);
    display: flex;
    justify-content: center;

    border: 0;
    border: auto;
    border-radius: auto;
    font-size: 36px;
    cursor: pointer;
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

#chk:checked~.signup input,
#chk:checked~.signup button {
    display: none;
    display: auto;
    transition: 0.5s ease-in-out;
}

#chk:checked~.signup form {
    margin-right: 3%;
    transition: 0.5s ease-in-out;
}

#chk:checked~.signup label {
    padding: 10px 30px;
    border: 3px solid var(--color-orange);
    border-radius: 39px;
    font-size: 36px;
    cursor: pointer;
    transition: 0.5s ease-in-out;
}

/* ------------------------------------------novidades----------------------------------------- */

#header {
      height: 100px;
      background-color: var(--color-black);
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  .jerusalem{
      width: 200px;
      height: 88px;
      margin-left: 44px;
  }
  
  #header nav{
      background-color: var(--color-white);
      border:solid 1px;
      border-radius:15px;
      width:300px;
      margin-right: 44px;
  }
  #buscador{
      float:left;
      background-color:transparent;
      padding-left:5px;
      font-style:'roboto';
      font-size:18px;
      outline: unset;
      border:none;
      height:32px;
      width:260px;
  }

.frente h1{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
  height: 120px;
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 121px;
}

.frente {
  text-align: center;
  background-color:var(--color-orange);
  
}

#div1{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding: 40px;
}

.img{
  border-radius: 50px;
}
.preço{
  font-size: 25px;
  padding: 5px;
}

footer{
  background-color: var(--color-gray);
  text-align: center;
}
/* ------------------------------------quem somos------------------------------- */
.quem-txt {
  background-color: var(--color-gray);
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quem-txt h1{
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 121px;
  color: var(--color-white);
}

/* ---------------conteúdo princiapl---------------------- */
.quem-hist{
  background-color: var(--color-orange);
  display: flex;
  justify-content: space-around;
}
.quem-hist-txt p{
  width: 700px;
  color: var(--color-white);
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 35px;

  margin-top: 30px;
}

.quem-hist-img img{
  margin: 30px 0px;
}
/* --------------------------footer------------------------ */
.quem-foo {
  background-color: var(--color-gray);
  width: 100%;
}

.foo-txt {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  margin-left: 30px;
}

.foo-img {
  text-align: center;
}

.foo-img img{
  width: 300px;
}
<<<<<<< HEAD
/* -----------------------------compras------------------------------------------------------------------- */
#comp {
  height: 100px;
  background-color: var(--color-black);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.jerusalem{
  width: 200px;
  height: 88px;
  margin-left: 44px;
}

#navv{
  background-color: var(--color-white);
  border:solid 1px;
  border-radius:15px;
  width:300px;
  margin-right: 44px;
}
#busca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-style:'roboto';
  font-size:18px;
  outline: unset;
  border:none;
  height:32px;
  width:260px;
}

.comp-txt{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--color-gray);
  font-family: 'Inter', sans-serif;
  color: var(--color-white);
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 121px;
  height: 100px;
}

main #com #comimg{
  background-color: var(--color-orange);
  text-align: center;
  display: grid;
  grid-template-rows: repeat(2, 1fr);

}


main #com #comimg #bloco1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

main #com #comimg #bloco2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

#comimg img {
  margin-top: 30px;
}


=======
>>>>>>> c5d4642d875276cf512b32a2df985a1d4d7af4f5
