:root{
    --color-black: #000000;
    --color-white: #FFFFFF;
    --color-orange: #FF8A00;
    --color-offwhite: #FFEBD9;
    --color-gray: #969696;
    --color-oranget: #FFA945;
    --color-lightgray: #d9d9d9;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
    transition: 0.7s;
    font-family: 'Secular One';
  }
  
  .marginlateral{
    margin: 0px 15px;
  }
  
  .icom{
    margin: 0 10px;
  }
  
  .espaco{
    margin: 0 55px;
  }
  
  .footer{
    margin: 0 200px;
  }
  
  .d{
    padding-top: 200px;
  }
  
  #hdr{
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    
  }
  
  #hdr #logo{
    text-align: center;
  }
  
  #hdrtext{
    background-color: var(--color-black);
    display: flex;
    flex-direction: row;
    justify-content: center;
    overflow: hidden;
    padding-bottom: 15px;
    padding-top: 15px;
  }
  
  #hdrtext nav a{
    font-style: normal;
    text-decoration: none;
    color:var(--color-white);
  }
  #hdrtext nav a:hover{
    background-color: var(--color-orange);
    padding: 7px;
    color: var(--color-white);
    border-radius: 20px;
  }
  
  main #banner{
    background-image: url(../img/banner.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  @import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");
  
  .wrapper .search_box {
    width: 175px;
    background: #fff;
    border-radius: 15px;
    height: 40px;
    display: flex;
    padding: 10px;
    box-shadow: 0 8px 6px -10px #b3c6ff;
  }
  
  .wrapper .search_box .search_field {
    width: 350px;
    height: 100%;
    position: relative;
  }
  
  .wrapper .search_box .search_field .input {
    width: 100%;
    height: 100%;
    border: 0px;
    font-size: 10px;
    padding-left: 20px;
    padding-right: 38px;
    color: #6f768d;
  }
  
  .wrapper .search_box .search_field .fas {
    position: absolute;
    top: 7px;
    right: 10px;
    font-size: 22px;
    color: var(--color-orange);
    cursor: pointer;
  }
  
  ::-webkit-input-placeholder {
    color: #9fa3b1;
  }
  
  main #benefects{
    background-color: var(--color-offwhite);
  } 
  
  main #benefects #benefectsimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--cor-principal);
    padding-bottom: 15px;
  }
  
  main #lanca{
    background-color: var(--color-orange);
  }
  
  main #lanca #lancatext{
    text-align: center;
  }
  
  main #lanca #lancatext h3{
    color: var(--color-white);
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 2em;
  }
  
  main #lanca #lancaimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--color-white);
    padding-bottom: 15px;
  }
  
  main #bannersecond{
    background-image: url(../img/descartes.png);
    height: 70vh;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover ;
  }
  
  main #destaques{
    background-color: var(--color-orange);
  }
  
  main #destaques #destaquestext{
    text-align: center;
  }
  
  main #destaques #destaquestext h3{
    color: var(--color-white);
    padding-top: 15px;
    padding-bottom: 25px;
    font-size: 2em;
  }
  
  main #destaques #destaquesimg{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: var(--color-white);
    padding-bottom: 15px;
  }
  
  main #sugestoes{
    background-color: var(--color-offwhite);
  }
  
  main #sugestoes #sugestoestext{
    padding-top: 21px;
    font-size: larger;
    text-align: center;
    padding-bottom: 94px;
  }
  
  main #sugestoes #sugestoesimg{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 96.18px;
  }

  main #sugestoes #sugestoesimg #x {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #sugestoes #sugestoesimg #y {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  main #sugestoes #sgt1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-lightgray);
    width: 485px;
    height: 230px;
  }

  main #sugestoes #sgt1 #i{
    margin-top: 18px;
    margin-left: 21px;
    background-color: white;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    }

    main #sugestoes #sgt2 #s{
      margin-top: 18px;
      margin-left: 21px;
      background-color: white;
      height: 100px;
      width: 100px;
      border-radius: 100%;
      }


  main #sugestoes #sgt2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    background-color: var(--color-lightgray);
    width: 485px;
    height: 230px;
  }

  main #sugestoes #ç{
    padding-top: 45px;
  }

  main #sugestoes #g{
    padding-top: 45px;
  }

  main #sugestoes #sugestoesimg #z{
    padding-top: 25px;
    padding-left: 15px;
  }

  main #sugestoes #sugestoesimg #k{
    padding-top: 25px;
    padding-left: 15px;
  }
  
  footer{
    background-color: var(--color-gray);
  }
  
  footer #cl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  footer #logoimg{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  footer #contact{
    text-align: center;
    justify-content: center;
  }
  
  footer #contact h2{
    padding-top: 12.5%;
  }
  
  footer #cl{
    text-align: center;
    justify-content: center;
  }
  
  footer #midias{
    text-align: center;
    justify-content: center;
  }
  
  footer #midias h2{
    padding-top: 12.5%;
  }